/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  /* padding-top: 3.5rem; */
}

.jumbotron-image {
  background-image: url("../img/edificio-1.jpg");
  background-size: cover;
}





  @media only screen and (min-width: 1200px) { /* si la panatalla es mayor 300px */
  .modal-ancho {
   max-width: 28% !important;
  }
}

/*
.fijo{

  min-height: 100%;
  position: relative;

}*/




/*
.btn-blue { 
  color: #ffffff; 
  background-color: #3D22BF ; 
  border-color: #3214C9; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #ffffff; 
  background-color: #3939B8; 
  border-color: #3214C9; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #3D22BF; 
  border-color: #3214C9; 
} 
 
.btn-blue .badge { 
  color: #3D22BF; 
  background-color: #ffffff; 
}

*/