
	
/*Estilo de paginacion*/
.pagination > li > a,
.pagination > li > span {
    color: black ; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span, 
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important; 
}


/*trucamiento de descripcion*/

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  
  /* */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}




/*configuraciones style select sidebar*/

.select2-selection__rendered {
    line-height: 30px !important;
}
.select2-container .select2-selection--single {
    height: 30px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

.select2-selection__arrow{
  display: none;
}


  /*Estilos icheck size sidebar*/
  .icheck-success[class*="icheck-"] > label {
    padding-left: 22px !important;
    line-height: 18px;
}

.icheck-success[class*="icheck-"] > input:first-child + input[type="hidden"] + label::before, .icheck-success[class*="icheck-"] > input:first-child + label::before {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    margin-left: -22px;
}
.icheck-success[class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after,
.icheck-success[class*="icheck-"] > input:first-child:checked + label::after {
    top: 0px;
    width: 4px;
    height: 8px;
    left: 0px;
}

  .hidden{
    display: none;
  }